// -----SCSS VARIABLE------//
@import 'Variable/warna';
@import 'Variable/font';

// -----SCSS LAYOUT-------//
@import 'Layout/main';
@import 'Layout/Layout';


/*-------------------BERANDA STYLE--------------------*/

#Page_Beranda{
  width: 100%;
  padding: 50px 100px;
  display: flex;
  background-color: rgba(11, 152, 145, 0.25);
  #MWrap{
    width: 100%;
    text-align: center;
    h1{
      display: inline-block;
      padding: 0 40px 10px 40px;
      border-bottom: 6px double black
    }
  }
  #MWrap>div:nth-of-type(1){
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
    div{
      border-radius: 5px;
      width: 28%;
      margin: 10px 20px;
      img{
        width: 100%;
        border-radius: 10px;
      }
      img:hover{
        box-shadow: 10px 15px 20px rgb(167, 167, 167);
        cursor: pointer;
      }
    }
  }
  #MWrap>div:nth-of-type(2){
    display:flex;
    justify-content: center;
    div{
      display: inline-block;
      padding: 10px 20px;
      border-radius: 3px;
      text-align: center;
      border: 1px solid orange;
    }
    div:hover{
      background-color: orange;
      color: white;
      cursor: pointer;
    }
  }
}

/*-------------------LEGISLASI STYLE--------------------*/

#Page_Legislasi{
  width: 100%;
  #LWrap1{
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url('/Assets/Produk_Hukum_Page_Background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    h2, h1{
      color: white;
      font-size: 42px;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  #LWrap2{
    padding: 50px 200px;
    div{
      margin: 10px 0;
      h4{
        color: rgb(111, 111, 111);
      }
      ul{
        margin: 10px 40px;
        li{
          margin: 5px 0;
          a:hover{
            color: rgb(255, 0, 0);
            border-bottom: 1px solid rgb(255, 0, 0);
          }
        }
      }
    }
  }
}

/*-------------------INPUT DATA STYLE--------------------*/
#Input-data{
  width: 100%;
  h1{
    text-align: center;
    padding: 30px 0 15px 0;
  }
  div:nth-of-type(1){
    padding: 10px 0 0 160px;
    justify-content: flex-start;
  }
  div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0 30px 0;
    input, select{
      width: 100%;
    }
    input[type=submit]{
      margin-top: 20px;
      height: 30px;
      width: 50% !important;
    }
  }
}

/*-------------------KEANGGOTAAN STYLE--------------------*/

#Page_anggota{
  width: 100%;
  #kaWrap1{
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url('/Assets/Anggota_Page_Background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    h2, h1{
      color: white;
      font-size: 42px;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  #kaWrap2{
    padding: 50px 0 0 180px;
    table{
      border: 1px solid black;
      border-collapse: collapse;
    }
    thead, tbody:nth-of-type(even){
      background-color: rgb(228, 228, 228);
    }
    tbody{
      cursor: pointer;
    }
  }
}

/*-------------------PROFIL STYLE--------------------*/
#Page_Profil{
  padding: 50px 0 50px 180px;
  table{
    border: 1px solid black;
    border-collapse: collapse;
  }
  thead td{
    margin-left: 10px;
  }
  img{
    margin-top: 20px;
  }
  thead, tbody>tr:nth-of-type(even){
    background-color: rgb(228, 228, 228);
  }
}

/*-------------------KONTAK STYLE--------------------*/
#Kontak{
  padding: 40px 0;
  h1{
    text-align: center;
    margin-bottom: 40px;
  }
}
#Kontak>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#Kontak>div>div:nth-of-type(2){
  border-left: 1px solid rgb(186, 186, 186);
  border-right: 1px solid rgb(186, 186, 186);
}
#Kontak>div>div{
  padding: 30px 50px;
}
#Kontak>div>div>div{
  display: flex;
  align-items: center;
  padding: 10px 0;
  div:nth-of-type(1){
    margin-right: 10px;
  }
}

/*-------------------BERITA STYLE--------------------*/

#Page_Berita{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
}

#Page_Berita>div:nth-of-type(1){
  width: 50%;
  .Pagination{
    display: flex;
    justify-content: center;
    border: none!important;
    margin: -30px 0 !important;
  }
}

#Page_Berita>div:nth-of-type(1)>div{
  display: flex;
  border-bottom: 1px dashed black;
  padding: 0 10px 20px 10px;
  margin: 30px 0;
}

#Page_Berita>div:nth-of-type(1)>div:hover{
  cursor: pointer;
}

.News-Content{
  padding: 0 15px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  div:nth-of-type(1){
    font-size: 16px;
    padding: 5px 0;
    text-overflow: ellipsis;
  }
  div:nth-of-type(2){
    text-align: justify;
    height: 72px;
    overflow: hidden;
  }
}

#Page_Berita>div:nth-of-type(2){
  width: 20%;
  padding: 10px 20px;
  h4{
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
  }
  li{
    padding: 5px 0;
    list-style: none;
    a:hover{
      text-decoration: underline;
      color: rgb(195, 193, 0);
    }
  }
}

/*-------------------DETAIL STYLE--------------------*/
#Page_Berita_Detail{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
}

#Page_Berita_Detail>div:nth-of-type(1){
  width: 50%;
  h2{
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
  }
  span{
    display: flex;
    align-items: center;
    i{
      margin: 0 5px;
    }
  }
  div:nth-of-type(1){
    margin-bottom: 40px;
    text-align: center;
    img{
      height: 300px;
    }
  }
  div:nth-of-type(2){
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
  }
}

#Page_Berita_Detail>div:nth-of-type(2){
  width: 20%;
  padding: 10px 20px;
  h4{
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
  }
  ul{
    margin-bottom: 20px;
  }
  li{
    padding: 5px 0;
    list-style: none;
    a:hover{
      text-decoration: underline;
      color: rgb(195, 193, 0);
    }
  }
}
