/* --------------- ICON ---------------*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* --------------- FONT ---------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

input[type=button]:hover {
  cursor: pointer;
}

main {
  background-color: whitesmoke;
}

/*---------------------------------------------*/
/*----------------HEADER STYLE-----------------*/
/*---------------------------------------------*/
header {
  /*------------ Header Menu Pertama ---------------*/
  /*------------ Header Menu Kedua ---------------*/
}
header #HWrap1 {
  padding: 10px 120px;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  background-image: url("/Assets/hBackground.png");
  background-size: contain;
  /*------------ Header Menu Atas ---------------*/
  /*------------ Header Menu Bawah ---------------*/
}
header #HWrap1 #HMenu1 {
  display: flex;
  width: 70%;
  border-bottom: 0.5px solid #afafaf;
  height: 30px;
}
header #HWrap1 .aSearch {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
header #HWrap1 .aSearch input {
  background-color: inherit;
  border: none;
  height: 25px;
}
header #HWrap1 .aSearch input:focus {
  outline: none;
}
header #HWrap1 .aSearch input[type=text] {
  margin-left: 10px;
  width: 80%;
}
header #HWrap1 .aSearch input[type=button] {
  width: 10%;
  border-left: 0.5px solid black;
}
header #HWrap1 .aSearch input[type=button]:hover {
  color: #fea000;
}
header #HWrap1 #HMenu1 > div {
  display: flex;
  width: 50%;
}
header #HWrap1 #HMenu1 > div div {
  text-align: center;
  display: flex;
  align-items: center;
}
header #HWrap1 #HMenu1 > div div div:nth-of-type(1) {
  display: inline-block;
  width: 30px;
}
header #HWrap1 #HMenu1 > div div div:nth-of-type(1) i {
  font-weight: bolder;
  font-size: 20px;
}
header #HWrap1 #HMenu1 > div > div:hover {
  cursor: pointer;
  color: #fe9c34;
}
header #HWrap1 #HMenu1 > div > div {
  padding: 0 10px;
}
header #HWrap1 #HMenu1 > div:nth-of-type(3) {
  justify-content: flex-end;
}
header #HWrap1 #HMenu2 {
  height: 170px;
  display: flex;
  width: 85%;
  align-items: center;
}
header #HWrap1 #HMenu2 > div:nth-of-type(1) {
  margin-top: -10px;
  width: 50%;
  display: flex;
}
header #HWrap1 #HMenu2 > div:nth-of-type(1) div:nth-of-type(2) {
  text-align: left;
  align-self: center;
  padding-left: 10px;
}
header #HWrap1 #HMenu2 > div:nth-of-type(1) div:nth-of-type(2) h1 {
  font-size: 34px;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) {
  margin-top: -10px;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  font-size: 12px;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) h4 {
  font-weight: bolder;
  color: white;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 270px;
  border-radius: 10px;
  justify-content: center;
  background-color: #2b6698;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div > div:nth-of-type(2) {
  display: flex;
  background-color: white;
  width: 230px;
  margin-top: 10px;
  border-radius: 5px;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div > div:nth-of-type(2) input {
  border: none;
  background-color: inherit;
  height: 30px;
  box-sizing: border-box;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div > div:nth-of-type(2) input[type=text] {
  font-size: 12px;
  padding: 0 5px;
  width: 190px;
  border-right: 1px solid black;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div > div:nth-of-type(2) input[type=button] {
  width: 40px;
}
header #HWrap1 #HMenu2 > div:nth-of-type(2) > div > div:nth-of-type(2) input[type=button]:hover {
  background-color: aqua;
  border-radius: 0 5px 5px 0;
}
header #HWrap2 {
  display: flex;
  padding: 0 120px;
  box-sizing: border-box;
  background-color: #2b6698;
  width: 100%;
  height: 40px;
  justify-content: center;
}
header #HWrap2 div {
  line-height: 40px;
  height: 100%;
  padding: 0 50px;
  color: white;
}
header #HWrap2 div:hover {
  cursor: pointer;
  background-color: #5be7ff;
  color: black;
  font-weight: bolder;
}
header .Hfixed {
  position: fixed;
  top: 0;
}

/*---------------------------------------------*/
/*----------------FOOTER STYLE-----------------*/
/*---------------------------------------------*/
footer {
  padding: 0 150px;
  height: 70px;
  display: flex;
  background-color: #2b6698;
  align-items: center;
  color: white;
}
footer .FLine1:nth-of-type(1) {
  width: 40%;
}
footer .FLine1:nth-of-type(2) {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .FLine1:nth-of-type(2) p {
  padding-right: 10px;
}
footer .FLine1:nth-of-type(2) div {
  border: 1px solid white;
  margin: 0 2px;
  padding: 7px 10px 2px 10px;
}
footer .FLine1:nth-of-type(2) div:hover {
  cursor: pointer;
}
footer .FLine1:nth-of-type(2) div:nth-of-type(1):hover {
  background-color: #2bff00;
  transition: background-color 1s;
}
footer .FLine1:nth-of-type(2) div:nth-of-type(2):hover {
  background-color: aqua;
  transition: background-color 1s;
}
footer .FLine1:nth-of-type(2) div:nth-of-type(3):hover {
  background-color: #bf00b2;
  transition: background-color 1s;
}
footer .FLine1:nth-of-type(2) div:nth-of-type(4):hover {
  background-color: #ff9900;
  transition: background-color 1s;
}
footer .FLine1:nth-of-type(2) div:nth-of-type(5):hover {
  background-color: orangered;
  transition: background-color 1s;
}

/*-------------------BERANDA STYLE--------------------*/
#Beranda {
  width: 100%;
  padding: 50px 120px;
  display: flex;
}
#Beranda #MWrap {
  width: 100%;
}
#Beranda #MWrap > div > div:nth-of-type(1) {
  text-align: center;
}
#Beranda #MWrap > div > div:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
}
#Beranda #MWrap > div > div:nth-of-type(2) div {
  border-radius: 10px;
  width: 31%;
  border: 1px solid #e0e0e0;
  border-bottom: 5px solid #e0e0e0;
  border-left: 5px solid #e0e0e0;
  background-color: white;
  height: 300px;
  margin: 10px 10px;
}

/*-------------------LEGISLASI STYLE--------------------*/
#Legislasi {
  width: 100%;
}
#Legislasi #LWrap1 {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-image: url("/Assets/PHB.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
#Legislasi #LWrap1 h2, #Legislasi #LWrap1 h1 {
  color: white;
  font-size: 42px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.68);
}
#Legislasi #LWrap2 {
  padding: 50px 200px;
}
#Legislasi #LWrap2 div {
  margin: 10px 0;
}
#Legislasi #LWrap2 div h4 {
  color: #6f6f6f;
}
#Legislasi #LWrap2 div ul {
  margin: 10px 40px;
}
#Legislasi #LWrap2 div ul li {
  margin: 5px 0;
}
#Legislasi #LWrap2 div ul li a:hover {
  color: red;
  border-bottom: 1px solid red;
}

/*-------------------INPUT DATA STYLE--------------------*/
#Input-data {
  width: 100%;
}
#Input-data h1 {
  text-align: center;
  padding: 30px 0 15px 0;
}
#Input-data div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px 0 30px 0;
}
#Input-data div input, #Input-data div select {
  width: 100%;
}
#Input-data div input[type=submit] {
  margin-top: 20px;
  height: 30px;
  width: 50% !important;
}

/*# sourceMappingURL=Index.css.map */
